# Lesson 14 Studio:  A Library Service

## Setting Up Your Data

You will be creating 5 new tables within your own schema.

4 of the tables can be populated using the starter code which can be found in the folder "[Starter Code](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code)" in the studio GitHub repository. 

After setting up the data you should have the following five tables:

1. book
2. author
3. patron
4. genre
5. loan

## **Part A: Setting Up Your Tables**

### **Book Table**

To create the **book** table, you can use the following SQL query:

```
CREATE TABLE [DB].[schema].book (
    book_id INT IDENTITY(1,1) PRIMARY KEY, 
    author_id INT,
    title VARCHAR(255),
    isbn INT,
    available BIT,
    genre_id INT
);
```

_A few notes on this syntax:_

> On Auto-incrementing:
> 
> We are going to have SQL help us assign book\_id numbers using auto-incrementing using the **IDENTITY** property.
> 
> The [IDENTITY](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql-identity-property?view=sql-server-ver15) syntax is as follows: **IDENTITY(seed, increment)**.  We want to seed the first id number as 1 in this table and increment by 1 for each following book\_id.

> On BIT datatypes:
> 
> For the **available** column, we are going to use the [BIT datatype](https://docs.microsoft.com/en-us/sql/t-sql/data-types/bit-transact-sql?view=sql-server-ver15) to represent True or False values.  Bit allows three entries: 0 which will stand for false,  1 which will stand for true,  and NULL.

> On CREATE TABLES:
> 
> You may only create a table once.  You may comment out your creation query once you run it.

In [1]:
-- Create the book table here.  Update the name of the database and schema.
CREATE TABLE JunkDB_STL_Sept2022.sunital.book (
    book_id INT IDENTITY(1,1) PRIMARY KEY, 
    author_id INT,
    title VARCHAR(255),
    isbn INT,
    available BIT,
    genre_id INT
);

### Populate the **book** table.

For the starter data, use the [book\_data.ipynb notebook](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code).

> You may copy/paste the commands into the next code block.  You will need to update each INSERT statement to contain the names of your database and schema.

In [5]:
-- Paste the book data values in this code box.  Be sure to update database and schema names.


INSERT INTO JunkDB_STL_Sept2022.sunital.book(author_id, title, isbn, available, genre_id)
VALUES (2, 'A Midsummers Night Dream', 978149413, 1, 23),
        (2, 'Romeo and Juliet', 988535196, 1, 3),
        (1, 'The Golden Compass', 451664226, 1, 1),
         (1, 'The Subtle Knife', 160419390, 1, 1),
         (1, 'The Amber Spyglass', 94387895, 1, 1),
         (3, 'The Alchemist', 464069772, 1, 2),
        (4, 'And Then There Were None', 335973357, 1, 6),
         (5, 'The Joy Luck Club', 990050329, 1, 10),
         (5, 'The Moon Lady', 91720786, 1, 24),
        (6, 'Sense and Sensibility', 156879860, 1, 2),
         (6, 'Northanger Abbey', 951273178, 1, 3),
          (6, 'Pride and Prejudice', 415886839, 1, 3),
         (6, 'Mansfield Park', 188534067, 1, 3),
         (6, 'Emma', 994896202, 1, 3),
         (8, 'The Handmaids Tale', 639239663, 1, 5),
        (8, 'The Testaments', 826875490, 1, 5),
         (9, 'The Parable of the Sower', 283359358, 1, 5),
         (10, 'Little Women', 495409887, 1, 23),
         (11, 'Still Life', 455128657, 1, 6),
         (11, 'A Fatal Grace', 832517012, 1, 6),
        (11, 'The Cruelest Month', 419285319, 1, 6),
         (11, 'The Murder Stone', 656621400, 1, 6),
        (11, 'The Brutal Telling', 144255852, 1, 6),
        (11, 'Bury Your Dead', 208180961, 1, 6),
         (11, 'A Trick of the Light', 93451531, 1, 6),
         (12, 'Midnights Children', 881082293, 1, 10),
        (13, 'Dont Let the Pigeon Drive the Bus!', 18409532, 1, 24),
         (14, 'Beezus and Ramona', 744412630, 1, 24),
        (15, 'Organic Chemistry', 604328803, 1, 25),
         (16, 'I Know Why the Caged Bird Sings', 909947112, 1, 12),
        (17, 'Beloved', 46736233, 1, 10),
        (18, 'Brassbones and Rainbows', 330608463, 1, 26);

### Test your data.  

Run a quick query of your choice to see if the book table was properly created.

In [6]:
-- test your book table here.
SELECT *
FROM sunital.book

book_id,author_id,title,isbn,available,genre_id
1,2,A Midsummers Night Dream,978149413,1,23
2,2,Romeo and Juliet,988535196,1,3
3,1,The Golden Compass,451664226,1,1
4,1,The Subtle Knife,160419390,1,1
5,1,The Amber Spyglass,94387895,1,1
6,3,The Alchemist,464069772,1,2
7,4,And Then There Were None,335973357,1,6
8,5,The Joy Luck Club,990050329,1,10
9,5,The Moon Lady,91720786,1,24
10,6,Sense and Sensibility,156879860,1,2
11,6,Northanger Abbey,951273178,1,3
12,6,Pride and Prejudice,415886839,1,3
13,6,Mansfield Park,188534067,1,3
14,6,Emma,994896202,1,3
15,8,The Handmaids Tale,639239663,1,5
16,8,The Testaments,826875490,1,5
17,9,The Parable of the Sower,283359358,1,5
18,10,Little Women,495409887,1,23
19,11,Still Life,455128657,1,6
20,11,A Fatal Grace,832517012,1,6
21,11,The Cruelest Month,419285319,1,6
22,11,The Murder Stone,656621400,1,6
23,11,The Brutal Telling,144255852,1,6
24,11,Bury Your Dead,208180961,1,6
25,11,A Trick of the Light,93451531,1,6
26,12,Midnights Children,881082293,1,10
27,13,Dont Let the Pigeon Drive the Bus!,18409532,1,24
28,14,Beezus and Ramona,744412630,1,24
29,15,Organic Chemistry,604328803,1,25
30,16,I Know Why the Caged Bird Sings,909947112,1,12
31,17,Beloved,46736233,1,10
32,18,Brassbones and Rainbows,330608463,1,26
33,2,A Midsummers Night Dream,978149413,1,23
34,2,Romeo and Juliet,988535196,1,3
35,1,The Golden Compass,451664226,1,1
36,1,The Subtle Knife,160419390,1,1
37,1,The Amber Spyglass,94387895,1,1
38,3,The Alchemist,464069772,1,2
39,4,And Then There Were None,335973357,1,6
40,5,The Joy Luck Club,990050329,1,10
41,5,The Moon Lady,91720786,1,24
42,6,Sense and Sensibility,156879860,1,2
43,6,Northanger Abbey,951273178,1,3
44,6,Pride and Prejudice,415886839,1,3
45,6,Mansfield Park,188534067,1,3
46,6,Emma,994896202,1,3
47,8,The Handmaids Tale,639239663,1,5
48,8,The Testaments,826875490,1,5
49,9,The Parable of the Sower,283359358,1,5
50,10,Little Women,495409887,1,23
51,11,Still Life,455128657,1,6
52,11,A Fatal Grace,832517012,1,6
53,11,The Cruelest Month,419285319,1,6
54,11,The Murder Stone,656621400,1,6
55,11,The Brutal Telling,144255852,1,6
56,11,Bury Your Dead,208180961,1,6
57,11,A Trick of the Light,93451531,1,6
58,12,Midnights Children,881082293,1,10
59,13,Dont Let the Pigeon Drive the Bus!,18409532,1,24
60,14,Beezus and Ramona,744412630,1,24
61,15,Organic Chemistry,604328803,1,25
62,16,I Know Why the Caged Bird Sings,909947112,1,12
63,17,Beloved,46736233,1,10
64,18,Brassbones and Rainbows,330608463,1,26

We will repeat a similar process for the **author, patron,** and **genre** tables. 

### **Author Table**

To create the **author** table, you will use the following code:

```
CREATE TABLE [DB].[schema].author (
    author_id INT IDENTITY(1,1), PRIMARY KEY
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    birth_year INT,
    death_year INT
);
```

In [7]:
-- create the author table here:
CREATE TABLE JunkDB_STL_Sept2022.sunital.author (
    author_id INT IDENTITY(1,1), PRIMARY KEY(author_id),
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    birth_year INT,
    death_year INT
);

Populate the **author** table with the [author\_data.ipynb](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code).

In [8]:
-- paste the author data values in this code.
INSERT INTO [JunkDB_STL_Sept2022].sunital.author(first_name, last_name, birth_year, death_year)
VALUES ('Phillip', 'Pullman', 1946, null),
 ('William', 'Shakespeare', 1564, 1616),
 ('Paulo', 'Coelho', 1947, null),
 ('Agatha', 'Christie', 1890-09-15, 1976-01-12),
 ('Amy', 'Tan', 1952-02-19, null),
 ('Jane', 'Austin', 1775-12-16, 1817-07-18),
 ('Emily', 'Bronte', 1818-07-30, 1848-12-19),
 ('Margaret', 'Atwood', 1939-11-18, null),
 ('Octavia', 'Butler', 1947-06-22, 2006-02-24),
 ('Louisa May', 'Alcott', 1832-11-29, 1888-03-06),
 ('Louise', 'Penny', 1958-07-01, null),
 ('Salman', 'Rushdie', 1947-08-19, null),
 ('Mo', 'Willems', 1968-02-11, null),
 ('Beverly', 'Cleary', 1916-04-12, null),
 ('Peter', 'Vollhardt', 1946-03-07, null),
 ('Maya', 'Angelou', 1928-04-04, 2014-05-28),
 ('Toni', 'Morrison', 1931-02-18, 2019-08-05),
 ('Shirley', 'LeFlore', 1940-03-06, 2019-05-12)

### **Patron Table**

To create the **patron**, you will use the following code:

```
CREATE TABLE [DB].[schema].patron (
    patron_id INT IDENTITY (1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    loan_id INT
);
```

In [9]:
-- create the patron table here:
CREATE TABLE JunkDB_STL_Sept2022.sunital.patron (
    patron_id INT IDENTITY (1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    loan_id INT
);

Populate the **patron** table with the [patron\_data.ipynb](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code) notebook.

In [12]:
-- insert patron data into the table here:
INSERT INTO JunkDB_STL_Sept2022.sunital.patron(first_name, last_name, loan_id)
VALUES ('Jennifer', 'Slayny', NULL),
 ('Susan', 'Traviss', NULL),
  ('Vincent', 'Ritelli', NULL),
 ('Tasia', 'Laybourne', NULL),
  ('Wren', 'Gergler', NULL),
 ('Tory', 'Lees', NULL),
 ('Estelle', 'Di Lorio', NULL),
  ('Dorian', 'Betje', NULL),
  ('Frank', 'Jelk', NULL),
 ('Chris', 'Endon', NULL),
 ('Gillie', 'Fritz', NULL),
 ('Leisha', 'Defty', NULL),
  ('Erika', 'Bompass', NULL),
  ('Gabe', 'Moxstead', NULL),
    ('Blake', 'Teresse', NULL),
  ('Joshua', 'Timmouth', NULL),
 ('Tasha', 'Timmouth', NULL),
  ('Neil', 'Davie', NULL),
  ('Emmeline', 'Pitherick', NULL),
  ('Josiah', 'Staner', NULL),
   ('James', 'Greetham', NULL),
   ('Isaac', 'Barstowk', NULL),
  ('Dean', 'Nelane', NULL),
  ('Carolina', 'Cranmere', NULL),
  ('Champ', 'Lardiner', NULL),
  ('Abbie', 'Quaif', NULL),
  ('Camile', 'Milbourne', NULL),
 ('Quentin', 'Crose', NULL),
  ('Silvano', 'Horlick', NULL),
  ('Phyllis', 'Cicchillo', NULL),
  ('Jerrie', 'Brownhall', NULL),
 ('Ludovika', 'Leist', NULL),
 ('Tara', 'Knatt', NULL),
 ('Kelsie', 'Parkson', NULL),
 ('Jodi', 'Leopard', NULL),
 ('Rosanna', 'Cultcheth', NULL),
 ('Remy', 'Fairpool', NULL),
 ('Megan', 'Blyth', NULL),
 ('Rikki', 'McLernon', NULL),
('Clare', 'Haacker', NULL),
 ('Vincent', 'Chettle', NULL),
 ('Sybil', 'Costanza', NULL),
 ('Jonas', 'Sinclare', NULL),
 ('Claire', 'Bendel', NULL),
 ('Kathleen', 'Welband', NULL),
 ('Kylie', 'Crannage', NULL),
 ('Evelyn', 'Tarajo', NULL),
 ('Oliver', 'Caulson', NULL)

### **Genre Table**

To create the **genre** table, use the following code:

```
CREATE TABLE [DB].[schema].genre (
    genre_id INT PRIMARY KEY,
    genres VARCHAR(100)
);
```

In [13]:
-- create genre table here:
CREATE TABLE JunkDB_STL_Sept2022.sunital.genre (
    genre_id INT PRIMARY KEY,
    genres VARCHAR(100)
);

Populate the **genre** table with the [genre\_data.ipybn](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code) notebook.

In [2]:
-- insert the genre data into the table here:
INSERT INTO JunkDB_STL_Sept2022.sunital.genre(genre_id, genres)
VALUES (1, 'Fantasy'),
      (2, 'Adventure'),
       (3, 'Romance'),
       (4, 'Contemporary'),
       (5, 'Dystopian'),
       (6, 'Mystery'),
       (7, 'Horror'),
       (8, 'Thriller'),
       (9, 'Paranormal'),
       (10, 'Historical Fiction'),
       (11, 'Science Ficton'),
         (12, 'Memoir'),
        (13, 'Cooking'),
        (14, 'Art'),
        (15, 'Self-Help'),
        (16, 'Development'),
        (17, 'Motivational'),
        (18, 'Health'),
        (19, 'History'),
        (20, 'Travel'),
        (21, 'Guide'),
       (22, 'Families and Relationships' ),
        (23, 'Humor'),
        (24, 'Childrens'),
        (25, 'Reference'),
        (26, 'Poetry')

### **Loan Table**

The **loan** table will be created differently and will stay empty.  We will use our other tables to populate the loan table using queries shortly.  

Use the following code to create the **loan** table:

```
CREATE TABLE [DB].[schema].loan (
    loan_id INT IDENTITY(1,1) PRIMARY KEY,
    patron_id INT,
    date_out DATE,
    date_in DATE,
    book_id INT
    CONSTRAINT book_id FOREIGN KEY (book_id) REFERENCES [DB].[schema].book (book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
```

_Notes about the syntax:_

> We are adding a [foreign key](https://www.w3schools.com/sql/sql_foreignkey.asp) to this table to reference a different table's primary key.  In this studio, we are going to link the **loan** table to the **book** table using keys.  The **loan** table will reference and add book id numbers based on the **book** table's book\_id.  We are also providing [constraints](https://www.w3schools.com/sql/sql_constraints.asp) to be very specific about what type of data is allowed in this column.

In [3]:
-- Code the loan table.  
-- Note that you will need to update the first and seventh lines with your database and schema info.

CREATE TABLE JunkDB_STL_Sept2022.sunital.loan (
    loan_id INT IDENTITY(1,1) PRIMARY KEY,
    patron_id INT,
    date_out DATE,
    date_in DATE,
    book_id INT
    CONSTRAINT book_id FOREIGN KEY (book_id) REFERENCES JunkDB_STL_Sept2022.sunital.book (book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);

## **Part B: Warm-Up Queries**

Write the following queries to get warmed up and make sure your tables have populated appropriately. 

1. Return the mystery book titles and their ISBNs.  
      
    
2. Return all of the titles and the author's first and last names for books written by authors who are currently living.

In [7]:
--Code your warm ups here:
SELECT b.title, b.isbn 
FROM JunkDB_STL_Sept2022.sunital.book as b
INNER JOIN JunkDB_STL_Sept2022.sunital.genre as g 
ON b.genre_id= g.genre_id
WHERE genres like 'Mystery'

title,isbn
And Then There Were None,335973357
Still Life,455128657
A Fatal Grace,832517012
The Cruelest Month,419285319
The Murder Stone,656621400
The Brutal Telling,144255852
Bury Your Dead,208180961
A Trick of the Light,93451531
And Then There Were None,335973357
Still Life,455128657
A Fatal Grace,832517012
The Cruelest Month,419285319
The Murder Stone,656621400
The Brutal Telling,144255852
Bury Your Dead,208180961
A Trick of the Light,93451531

In [15]:
--Return all of the titles and the author's first and last names for books written by authors who are currently living.

SELECT b.title, a.first_name, a.last_name, a.birth_year, a.death_year
FROM JunkDB_STL_Sept2022.sunital.author as a 
INNER JOIN JunkDB_STL_Sept2022.sunital.book as b
ON a.author_id = b.author_id
WHERE a.death_year is null

title,first_name,last_name,birth_year,death_year
The Golden Compass,Phillip,Pullman,1946,NULL
The Subtle Knife,Phillip,Pullman,1946,NULL
The Amber Spyglass,Phillip,Pullman,1946,NULL
The Alchemist,Paulo,Coelho,1947,NULL
The Joy Luck Club,Amy,Tan,1931,NULL
The Moon Lady,Amy,Tan,1931,NULL
The Handmaids Tale,Margaret,Atwood,1910,NULL
The Testaments,Margaret,Atwood,1910,NULL
Still Life,Louise,Penny,1950,NULL
A Fatal Grace,Louise,Penny,1950,NULL
The Cruelest Month,Louise,Penny,1950,NULL
The Murder Stone,Louise,Penny,1950,NULL
The Brutal Telling,Louise,Penny,1950,NULL
Bury Your Dead,Louise,Penny,1950,NULL
A Trick of the Light,Louise,Penny,1950,NULL
Midnights Children,Salman,Rushdie,1920,NULL
Dont Let the Pigeon Drive the Bus!,Mo,Willems,1955,NULL
Beezus and Ramona,Beverly,Cleary,1900,NULL
Organic Chemistry,Peter,Vollhardt,1936,NULL
The Golden Compass,Phillip,Pullman,1946,NULL
The Subtle Knife,Phillip,Pullman,1946,NULL
The Amber Spyglass,Phillip,Pullman,1946,NULL
The Alchemist,Paulo,Coelho,1947,NULL
The Joy Luck Club,Amy,Tan,1931,NULL
The Moon Lady,Amy,Tan,1931,NULL
The Handmaids Tale,Margaret,Atwood,1910,NULL
The Testaments,Margaret,Atwood,1910,NULL
Still Life,Louise,Penny,1950,NULL
A Fatal Grace,Louise,Penny,1950,NULL
The Cruelest Month,Louise,Penny,1950,NULL
The Murder Stone,Louise,Penny,1950,NULL
The Brutal Telling,Louise,Penny,1950,NULL
Bury Your Dead,Louise,Penny,1950,NULL
A Trick of the Light,Louise,Penny,1950,NULL
Midnights Children,Salman,Rushdie,1920,NULL
Dont Let the Pigeon Drive the Bus!,Mo,Willems,1955,NULL
Beezus and Ramona,Beverly,Cleary,1900,NULL
Organic Chemistry,Peter,Vollhardt,1936,NULL

## **Part C: Loan Out a Book**

The library would like you to create a query that will update the database when a book is loaned out.  

This query needs to perform the following functions:

1. Change **available** to **0** (false) for the appropriate book.
    
2. Add a new row to the **loan** table with today's date as the **date\_out** and the ids in the row matching the appropriate **patron\_id** and **book\_id**.
    
3. Update the appropriate **patron** with the **loan\_id** for the new row created in the **loan** table.
    

You can use any patron and book that strikes your fancy to create and test out this query.'

> _Note:  Every time you test this, you will add an additional row to the output, creating a new loan id each time.  If you do not update the patron id, then a patron will have multiple loan ids.  This is not an issue for Part C;_ _however, this may cause issues when you work on Part F._

In [49]:
-- Create your query that will Loan Out a Book:

SELECT title , available
FROM JunkDB_STL_Sept2022.sunital.book
UPDATE JunkDB_STL_Sept2022.sunital.book
SET available = 0
WHERE book_id = '3'

title,available
A Midsummers Night Dream,1
Romeo and Juliet,1
The Golden Compass,0
The Subtle Knife,1
The Amber Spyglass,1
The Alchemist,1
And Then There Were None,1
The Joy Luck Club,1
The Moon Lady,1
Sense and Sensibility,1
Northanger Abbey,1
Pride and Prejudice,1
Mansfield Park,1
Emma,1
The Handmaids Tale,0
The Testaments,1
The Parable of the Sower,1
Little Women,1
Still Life,1
A Fatal Grace,1
The Cruelest Month,1
The Murder Stone,1
The Brutal Telling,1
Bury Your Dead,1
A Trick of the Light,1
Midnights Children,1
Dont Let the Pigeon Drive the Bus!,1
Beezus and Ramona,1
Organic Chemistry,1
I Know Why the Caged Bird Sings,1
Beloved,1
Brassbones and Rainbows,1
A Midsummers Night Dream,1
Romeo and Juliet,1
The Golden Compass,1
The Subtle Knife,1
The Amber Spyglass,1
The Alchemist,1
And Then There Were None,1
The Joy Luck Club,1
The Moon Lady,1
Sense and Sensibility,1
Northanger Abbey,1
Pride and Prejudice,1
Mansfield Park,1
Emma,1
The Handmaids Tale,1
The Testaments,1
The Parable of the Sower,1
Little Women,1
Still Life,1
A Fatal Grace,1
The Cruelest Month,1
The Murder Stone,1
The Brutal Telling,1
Bury Your Dead,1
A Trick of the Light,1
Midnights Children,1
Dont Let the Pigeon Drive the Bus!,1
Beezus and Ramona,1
Organic Chemistry,1
I Know Why the Caged Bird Sings,1
Beloved,1
Brassbones and Rainbows,1

In [50]:
INSERT into JunkDB_STL_Sept2022.sunital.loan(date_out,patron_id,book_id)
	VALUES (GETDATE(),10,3) 
UPDATE JunkDB_STL_Sept2022.sunital.loan 
	SET date_out = GETDATE()

In [51]:
SELECT*
FROM JunkDB_STL_Sept2022.sunital.loan

loan_id,patron_id,date_out,date_in,book_id
14,10,2023-01-16,NULL,3

In [53]:
UPDATE JunkDB_STL_Sept2022.sunital.patron
SET loan_id ='14'
WHERE patron_id =10

In [54]:
SELECT *
FROM JunkDB_STL_Sept2022.sunital.patron

patron_id,first_name,last_name,loan_id
1,Jennifer,Slayny,NULL
2,Susan,Traviss,NULL
3,Vincent,Ritelli,NULL
4,Tasia,Laybourne,NULL
5,Wren,Gergler,NULL
6,Tory,Lees,NULL
7,Estelle,Di Lorio,NULL
8,Dorian,Betje,NULL
9,Frank,Jelk,NULL
10,Chris,Endon,14
11,Gillie,Fritz,NULL
12,Leisha,Defty,NULL
13,Erika,Bompass,NULL
14,Gabe,Moxstead,NULL
15,Blake,Teresse,NULL
16,Joshua,Timmouth,NULL
17,Tasha,Timmouth,NULL
18,Neil,Davie,NULL
19,Emmeline,Pitherick,NULL
20,Josiah,Staner,NULL
21,James,Greetham,NULL
22,Isaac,Barstowk,NULL
23,Dean,Nelane,NULL
24,Carolina,Cranmere,NULL
25,Champ,Lardiner,NULL
26,Abbie,Quaif,NULL
27,Camile,Milbourne,NULL
28,Quentin,Crose,NULL
29,Silvano,Horlick,NULL
30,Phyllis,Cicchillo,NULL
31,Jerrie,Brownhall,NULL
32,Ludovika,Leist,NULL
33,Tara,Knatt,NULL
34,Kelsie,Parkson,NULL
35,Jodi,Leopard,NULL
36,Rosanna,Cultcheth,NULL
37,Remy,Fairpool,NULL
38,Megan,Blyth,NULL
39,Rikki,McLernon,NULL
40,Clare,Haacker,NULL
41,Vincent,Chettle,NULL
42,Sybil,Costanza,NULL
43,Jonas,Sinclare,NULL
44,Claire,Bendel,NULL
45,Kathleen,Welband,NULL
46,Kylie,Crannage,NULL
47,Evelyn,Tarajo,NULL
48,Oliver,Caulson,NULL

## **Part D: Check a Book Back In**

Work with the same patron and book as you create your query to check a book back into the library.

The check a book back in, your query need to do the following:

1. Change **available** to **1** (true) for the appropriate book.
    
2. Update the appropriate row in the **loan** table with today's date as the **date\_in**.
    
3. Update the appropriate **patron** changing **loan\_id** back to **NULL**.
    

Once you have created these queries, loan out 5 new books to 5 different patrons.

In [56]:
-- Create your Check a Book Back In query:
SELECT title , available
FROM JunkDB_STL_Sept2022.sunital.book
UPDATE JunkDB_STL_Sept2022.sunital.book
SET available = 1
WHERE book_id = '3'

title,available
A Midsummers Night Dream,1
Romeo and Juliet,1
The Golden Compass,1
The Subtle Knife,1
The Amber Spyglass,1
The Alchemist,1
And Then There Were None,1
The Joy Luck Club,1
The Moon Lady,1
Sense and Sensibility,1
Northanger Abbey,1
Pride and Prejudice,1
Mansfield Park,1
Emma,1
The Handmaids Tale,0
The Testaments,1
The Parable of the Sower,1
Little Women,1
Still Life,1
A Fatal Grace,1
The Cruelest Month,1
The Murder Stone,1
The Brutal Telling,1
Bury Your Dead,1
A Trick of the Light,1
Midnights Children,1
Dont Let the Pigeon Drive the Bus!,1
Beezus and Ramona,1
Organic Chemistry,1
I Know Why the Caged Bird Sings,1
Beloved,1
Brassbones and Rainbows,1
A Midsummers Night Dream,1
Romeo and Juliet,1
The Golden Compass,1
The Subtle Knife,1
The Amber Spyglass,1
The Alchemist,1
And Then There Were None,1
The Joy Luck Club,1
The Moon Lady,1
Sense and Sensibility,1
Northanger Abbey,1
Pride and Prejudice,1
Mansfield Park,1
Emma,1
The Handmaids Tale,1
The Testaments,1
The Parable of the Sower,1
Little Women,1
Still Life,1
A Fatal Grace,1
The Cruelest Month,1
The Murder Stone,1
The Brutal Telling,1
Bury Your Dead,1
A Trick of the Light,1
Midnights Children,1
Dont Let the Pigeon Drive the Bus!,1
Beezus and Ramona,1
Organic Chemistry,1
I Know Why the Caged Bird Sings,1
Beloved,1
Brassbones and Rainbows,1

In [57]:
INSERT into JunkDB_STL_Sept2022.sunital.loan(date_in,patron_id,book_id)
	VALUES (GETDATE(),10,3) 
UPDATE JunkDB_STL_Sept2022.sunital.loan 
	SET date_in = GETDATE()

In [58]:
SELECT*
FROM JunkDB_STL_Sept2022.sunital.loan

loan_id,patron_id,date_out,date_in,book_id
14,10,2023-01-16,2023-01-16,3
15,10,NULL,2023-01-16,3

In [59]:
DELETE from JunkDB_STL_Sept2022.sunital.loan
where date_out is null

In [62]:
SELECT*
FROM JunkDB_STL_Sept2022.sunital.loan

loan_id,patron_id,date_out,date_in,book_id
14,10,2023-01-16,2023-01-16,3

In [69]:
UPDATE JunkDB_STL_Sept2022.sunital.patron
SET loan_id = Null
WHERE patron_id ='10'

In [70]:
SELECT *
FROM JunkDB_STL_Sept2022.sunital.patron

patron_id,first_name,last_name,loan_id
1,Jennifer,Slayny,NULL
2,Susan,Traviss,NULL
3,Vincent,Ritelli,NULL
4,Tasia,Laybourne,NULL
5,Wren,Gergler,NULL
6,Tory,Lees,NULL
7,Estelle,Di Lorio,NULL
8,Dorian,Betje,NULL
9,Frank,Jelk,NULL
10,Chris,Endon,NULL
11,Gillie,Fritz,NULL
12,Leisha,Defty,NULL
13,Erika,Bompass,NULL
14,Gabe,Moxstead,NULL
15,Blake,Teresse,NULL
16,Joshua,Timmouth,NULL
17,Tasha,Timmouth,NULL
18,Neil,Davie,NULL
19,Emmeline,Pitherick,NULL
20,Josiah,Staner,NULL
21,James,Greetham,NULL
22,Isaac,Barstowk,NULL
23,Dean,Nelane,NULL
24,Carolina,Cranmere,NULL
25,Champ,Lardiner,NULL
26,Abbie,Quaif,NULL
27,Camile,Milbourne,NULL
28,Quentin,Crose,NULL
29,Silvano,Horlick,NULL
30,Phyllis,Cicchillo,NULL
31,Jerrie,Brownhall,NULL
32,Ludovika,Leist,NULL
33,Tara,Knatt,NULL
34,Kelsie,Parkson,NULL
35,Jodi,Leopard,NULL
36,Rosanna,Cultcheth,NULL
37,Remy,Fairpool,NULL
38,Megan,Blyth,NULL
39,Rikki,McLernon,NULL
40,Clare,Haacker,NULL
41,Vincent,Chettle,NULL
42,Sybil,Costanza,NULL
43,Jonas,Sinclare,NULL
44,Claire,Bendel,NULL
45,Kathleen,Welband,NULL
46,Kylie,Crannage,NULL
47,Evelyn,Tarajo,NULL
48,Oliver,Caulson,NULL

In [7]:
SELECT title , available
FROM JunkDB_STL_Sept2022.sunital.book
UPDATE JunkDB_STL_Sept2022.sunital.book
SET available = 0
WHERE book_id = '3' AND book_id= '12' AND book_id='6' and book_id='8' and book_id='20'

INSERT into JunkDB_STL_Sept2022.sunital.loan(date_out,patron_id,book_id)
	VALUES (GETDATE(),10,3),
    (GETDATE(),5,12), 
     (GETDATE(),19,6), 
   (GETDATE(),1,8), 
     (GETDATE(),6,20) 
UPDATE JunkDB_STL_Sept2022.sunital.loan 
	SET date_out = GETDATE()

title,available
A Midsummers Night Dream,1
Romeo and Juliet,1
The Golden Compass,1
The Subtle Knife,1
The Amber Spyglass,1
The Alchemist,1
And Then There Were None,1
The Joy Luck Club,1
The Moon Lady,1
Sense and Sensibility,1
Northanger Abbey,1
Pride and Prejudice,1
Mansfield Park,1
Emma,1
The Handmaids Tale,0
The Testaments,1
The Parable of the Sower,1
Little Women,1
Still Life,1
A Fatal Grace,1
The Cruelest Month,1
The Murder Stone,1
The Brutal Telling,1
Bury Your Dead,1
A Trick of the Light,1
Midnights Children,1
Dont Let the Pigeon Drive the Bus!,1
Beezus and Ramona,1
Organic Chemistry,1
I Know Why the Caged Bird Sings,1
Beloved,1
Brassbones and Rainbows,1
A Midsummers Night Dream,1
Romeo and Juliet,1
The Golden Compass,1
The Subtle Knife,1
The Amber Spyglass,1
The Alchemist,1
And Then There Were None,1
The Joy Luck Club,1
The Moon Lady,1
Sense and Sensibility,1
Northanger Abbey,1
Pride and Prejudice,1
Mansfield Park,1
Emma,1
The Handmaids Tale,1
The Testaments,1
The Parable of the Sower,1
Little Women,1
Still Life,1
A Fatal Grace,1
The Cruelest Month,1
The Murder Stone,1
The Brutal Telling,1
Bury Your Dead,1
A Trick of the Light,1
Midnights Children,1
Dont Let the Pigeon Drive the Bus!,1
Beezus and Ramona,1
Organic Chemistry,1
I Know Why the Caged Bird Sings,1
Beloved,1
Brassbones and Rainbows,1

In [8]:
SELECT*
FROM JunkDB_STL_Sept2022.sunital.loan

loan_id,patron_id,date_out,date_in,book_id
14,10,2023-01-17,2023-01-16,3
16,10,2023-01-17,NULL,3
17,5,2023-01-17,NULL,12
18,19,2023-01-17,NULL,6
19,1,2023-01-17,NULL,8
20,6,2023-01-17,NULL,20
21,10,2023-01-17,NULL,3
22,5,2023-01-17,NULL,12
23,19,2023-01-17,NULL,6
24,1,2023-01-17,NULL,8
25,6,2023-01-17,NULL,20

In [ ]:
UPDATE JunkDB_STL_Sept2022.sunital.patron
SET loan_id ='14'
WHERE patron_id =10
UPDATE JunkDB_STL_Sept2022.sunital.patron
SET loan_id ='17'
WHERE patron_id =5
UPDATE JunkDB_STL_Sept2022.sunital.patron
SET loan_id ='14'
WHERE patron_id =10

## **Part E: Create a temp table**

Write a query that returns a temporary table for a patron that shows them all of their loans.

_Question to think about:_  Why might a temp table be a good option for this type of query?

In [9]:
-- Code your temp table here
SELECT patron_id, first_name,last_name, loan_id 
INTO #patron_temp_table
FROM JunkDB_STL_Sept2022.sunital.patron

In [11]:
SELECT *
FROM #patron_temp_table

patron_id,first_name,last_name,loan_id
1,Jennifer,Slayny,NULL
2,Susan,Traviss,NULL
3,Vincent,Ritelli,NULL
4,Tasia,Laybourne,NULL
5,Wren,Gergler,NULL
6,Tory,Lees,NULL
7,Estelle,Di Lorio,NULL
8,Dorian,Betje,NULL
9,Frank,Jelk,NULL
10,Chris,Endon,NULL
11,Gillie,Fritz,NULL
12,Leisha,Defty,NULL
13,Erika,Bompass,NULL
14,Gabe,Moxstead,NULL
15,Blake,Teresse,NULL
16,Joshua,Timmouth,NULL
17,Tasha,Timmouth,NULL
18,Neil,Davie,NULL
19,Emmeline,Pitherick,NULL
20,Josiah,Staner,NULL
21,James,Greetham,NULL
22,Isaac,Barstowk,NULL
23,Dean,Nelane,NULL
24,Carolina,Cranmere,NULL
25,Champ,Lardiner,NULL
26,Abbie,Quaif,NULL
27,Camile,Milbourne,NULL
28,Quentin,Crose,NULL
29,Silvano,Horlick,NULL
30,Phyllis,Cicchillo,NULL
31,Jerrie,Brownhall,NULL
32,Ludovika,Leist,NULL
33,Tara,Knatt,NULL
34,Kelsie,Parkson,NULL
35,Jodi,Leopard,NULL
36,Rosanna,Cultcheth,NULL
37,Remy,Fairpool,NULL
38,Megan,Blyth,NULL
39,Rikki,McLernon,NULL
40,Clare,Haacker,NULL
41,Vincent,Chettle,NULL
42,Sybil,Costanza,NULL
43,Jonas,Sinclare,NULL
44,Claire,Bendel,NULL
45,Kathleen,Welband,NULL
46,Kylie,Crannage,NULL
47,Evelyn,Tarajo,NULL
48,Oliver,Caulson,NULL

## **Part F: Wrap-up Query**

Create a query that returns the names of the patrons with the genre of every book they currently have checked out.

Things to consider:  How are these tables related and connected to each other?

> _Note:  If you find a NULL in your output instead of a loan id,   this is likely because there are multiple loans per patron.  Try_ _clearing out the loan table.  You can do this by either dropping the entire table or clearing specific rows._

In [5]:
-- Create your Wrap-Up query here:
select p.first_name, p.last_name
from JunkDB_STL_Sept2022.sunital.patron as p 
join JunkDB_STL_Sept2022.sunital.loan as l 
on p.loan_id=l.loan_id
where l.loan_id = '14'

## **Bonus Challenge:**

This is an optional challenge.

Create a new table for reference materials using the following code:

```
CREATE TABLE [DB].[schema].reference_books (
    reference_id INT IDENTITY(1,1) PRIMARY KEY,
    edition INT,
    book_id INT,
    book_id INT FOREIGN KEY REFERENCES [DB].[schema].book(book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
```

Fill the table with the following query:

```
INSERT INTO [DB].[schema].reference_books (edition, book_id)
VALUE (5,32);
```

In [ ]:
-- Create and fill your reference table here:

<span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">A reference book cannot leave the library.&nbsp; How would you modify either the <b>reference_book</b> table or the <b>book</b> table to make sure that doesn't happen?&nbsp; Try to apply your modifications.</span>

In [ ]:
-- Code your query here: